



<div class="container-fluid border-top bg-white position-fixed bottom-0">
    <div class="row text-center">

        <div class="col">
            <a class="btn" routerLink="/">
                <small></small>
            </a>
        </div>

        <div class="col-auto">
            <a class="btn" routerLink="/">
                <small>patrik.mossberg@gmail.com</small>
            </a>
        </div>

        <div class="col">
            <a class="btn" routerLink="/">
                <small></small>
            </a>
        </div>

    </div>
</div>