



<div class="container-fluid p-4">
    <div class="row mb-4">
        <h4 class="col-auto">
            Settings <small><small>(W.I.P)</small></small>
        </h4>
    </div>

    <div class="row mb-4">
        
        <div class="col-12 mb-2">
            Settings
        </div>

        <div col="col-12">
            <div class="form-check form-switch">
                <label class="form-check-label" for="FieldsetCheck">
                    Show details
                </label>
                <input type="checkbox" role="switch" class="form-check-input" id="FieldsetCheck">
            </div>

        </div>

    </div>
</div>